


<h1 >Posts</h1>
<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-info" %>
<%= link_to 'Sign In', new_user_session_path, class: "btn btn-info"  %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<br><br>
<table>
  <thead>
   <h2> Posts fro your friends! you can view details</h2>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h3><%= post.title %></h3><br>
        <p ><%= post.content %></p><br>
        <%= image_tag post.image.url %><br>
        <%= post.user.email %><br>
        <%= link_to 'Details', post, class: "btn btn-info" %>
        <% if post.user == current_user %>
        <%= link_to 'Edit ', edit_post_path(post), class: "btn btn-warning" %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class = "row">
<div >

<br>

<%= link_to 'Create New Post', new_post_path, class: "btn btn-success" %>
